body {
  background-color: rgb(245, 231, 236);
}

h1 {
  color: black;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
}

p {
  color: black;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
}

a {
  color: rgb(224, 143, 168);
}

a:hover {
  color: rgb(235, 181, 198);
}
