body {
  background-color: rgb(245, 231, 236);
}

h1 {
  color: black;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
}

p {
  color: black;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
}

a {
  color: rgb(233, 175, 193); /* Changes all links to blue */
}

a:hover {
  color: rgb(233, 175, 193); /* Changes the color on hover */
}
